
<form class="form-inline">
  <label class="sr-only" for="inlineFormInputName2">Nom agence</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">

  <label class="sr-only" for="inlineFormInputGroupUsername2">ID</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
    </div>
    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
  </div>



  <button type="submit" class="btn btn-primary mb-2">ajouter</button>
</form>
