<div >
<button (click)='redirect()'>Ajouter</button>
<table class="table table-hover">
  <thead>
<tr>
  <th scope="col"></th>
  <th scope="col">Agence</th>
  <th scope="col">ID</th>
  <th scope="col">Nombre de voyages</th>
  <th scope="col">En ligne</th>
  <th scope="col">Action</th>
</tr>
</thead>
<tbody>
  <tr *ngFor="let item of agencesList"       [style.background-color]="item.selected ? 'grey': 'white'">
      <th scope="row"><input type="checkbox" [checked]="item.selected"  (change)="changeStatus(item.id)"></th>
      <td>{{item.agence}}</td>
      <td>{{item.id}}</td>
      <td>{{item.nmbre_voy}}</td>
      <td>{{item.time}}</td>
      <td><button (click)='deleteAgence(item.id)'>supprimer</button></td>
</tr>
</tbody>

</table>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>
