<div>
<button  routerLink="/ajouter">ajouter</button>  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">users</th>
        <th scope="col">ID</th>
        <th scope="col">Appareils</th>
        <th scope="col">En ligne</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>sara aloui</td>
        <td>224400</td>
        <td>1</td>
        <td>il y 5 min</td>
        <td>supprimer</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>ahmed tounsi</td>
        <td>21542</td>
        <td>2</td>
        <td>il y 20 min</td>
        <td>supprimer</td>
      </tr>
      <tr>
        <th scope="row"><input type="checkbox"></th>

        <td>255222</td>
        <td>3</td>
        <td>il y 0 min</td>
        <td>supprimer</td>
      </tr>
    </tbody>
  </table>

</div>
