
<body><div>
<table  mat-table [ dataSource ]= "dataSource"  class = "mat-elevation-z8 demo-table" >
  <!-- Position Column -->
  <ng-container  matColumnDef = "position" >
    <th>nom</th>
    <td> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container  matColumnDef = "name" >
    <th> Name </th>
    <td> {{element.name}} </td>
  </ng-container >

  <!-- Colonne de poids -->
  <ng-container  matColumnDef = "weight" >
    <th  mat-header-cell * matHeaderCellDef > Weight </th>
    <td  mat-cell * matCellDef = "let element" > {{element .poids}} </td>
  </ng-container>

  <!-- Colonne de
  symboles --> <ng-container  matColumnDef = "symbol" >
    <th  mat-header-cell * matHeaderCellDef > Symbol </th>
    <td  mat-cell * matCellDef = "let element" > {{element.symbole}} </td>
  </ng-container>

  <tr  mat-header-row * matHeaderRowDef = "displayedColumns" > </tr>
  <tr
      mat-row
      ( click )= "clickedRows.add(row)"
      [ class.demo-row-is-clicked ]= "clickedRows. has(row)"
      * matRowDef = "let row; column : displayColumns ;"
  > </tr>
</table>

<div >
  <h3 >
    Cliquez sur Journal
  </h3>
</div>

<div * ngIf = "!clickedRows.size" >
  Les lignes cliquées seront enregistrées ici
</div>

</div></body>
