<div>
  <button  routerLink="/ajouter">ajouter voyage</button>  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">Départ</th>
          <th scope="col">Déstination</th>
          <th scope="col">ligne</th>
          <th scope="col">Date</th>
          <th scope="col">Heure</th>
          <th scope="col">Prix</th>
          <th scope="col">Agence</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><input type="checkbox"></th>
          <td>sara aloui</td>
          <td>224400</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>il y 5 min</td>
          <td>supprimer</td>
        </tr>
        <tr>
          <th scope="row"><input type="checkbox"></th>
          <td>ahmed tounsi</td>
          <td>21542</td>
          <td>2</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>il y 20 min</td>
          <td>supprimer</td>
        </tr>
        <tr>
          <th scope="row"><input type="checkbox"></th>

          <td>255222</td>
          <td>3</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>il y 0 min</td>
          <td>supprimer</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <span class="page-link">
            2
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

  </div>
